<div class="row">
  <div class="col-md-3">
    <h2>New Inspection</h2>
    <form {{action "createInspection" on="submit"}}>
      <div class="form-group">
        <label>Title</label>
        {{input value=title class="form-control"}}
      </div>
      <div class="checkbox">
        <label>
          {{input type="checkbox" name="isCompleted" checked=isCompleted}}
          Complete?
        </label>
      </div>
      <input type="submit" value="Add Inspection" class="btn btn-primary">
    </form>
  </div>

  <div class="col-md-9">
    <h2>Completed Inspections</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Revision</th>
          <th>Title</th>
          <th>Complete?</th>
        </tr>
      </thead>

      <tbody>
        {{#each model as |inspection|}}
          <tr>
            <td>{{inspection.rev}}</td>
            <td>{{inspection.title}}</td>
            <td>{{inspection.isCompleted}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

